.basket__wrapper {
  &--box {
    @include flex;
    margin-bottom: 61px;
    position: relative;
    @include breakpoint(md) {
      flex-direction: column;
      max-width: 320px;
      margin: 0 auto 61px;
      border: solid 1px rgba(black, 0.5);
      padding: 20px;
    }
  }
  &--item {
    display: flex;
    align-items: center;
    width: 46%;
    @include breakpoint(md) {
      flex-direction: column;
      margin-bottom: 15px;
      width: 100%;
    }
    img {
      margin-right: 15px;
      width: 80px;
      height: 80px;
      @include breakpoint(md) {
        margin-right: 0;
        margin: 10px auto;
        width: 200px;
        height: 200px;
      }
    }
  }
  &--subtitle {
    @include font($size: 22px, $weight: 700, $family: $montserrat);
    @include breakpoint(md) {
      margin-bottom: 15px;
      text-align: center;
    }
  }
  &--description {
    display: flex;
    align-items: center;
    margin-top: 6px;
    @include breakpoint(md) {
      justify-content: center;
    }
    p {
      @include font($size: 18px, $weight: 400, $family: $roboto);
      opacity: 0.5;
      &:nth-child(1) {
        margin-right: 10px;
      }
    }
  }
  &--counter {
    display: flex;
    align-items: center;
    width: 15%;
    @include breakpoint(md) {
      margin: 0 auto 15px;
      width: 100%;
      justify-content: center;
    }
    button {
      width: 32px;
      height: 32px;
      border-radius: 50px;
      border: solid 1px $gold;
      background: none;
      font-size: 26px;
      color: $gold;
      transition: 0.5s;
      &:hover {
        background: $gold;
        color: white;
        transition: 0.5s;
      }
    }
  }
  &--quantity {
    margin: 0 12px;
    @include font($size: 22px, $weight: 700, $family: $roboto);
  }
  &--price {
    @include font($size: 22px, $weight: 700, $family: $roboto);
    span {
      display: none;
      @include breakpoint(md) {
        display: inline-block;
      }
    }
  }
  &--close {
    width: 32px;
    height: 32px;
    border-radius: 30px;
    border: solid 2px #8f8f8f;
    background: white;
    transition: 0.5s;
    @include breakpoint(md) {
      position: absolute;
      content: "";
      top: 10px;
      right: 10px;
    }
    &:hover {
      background: #8f8f8f;
      transition: 0.5s;
      path {
        fill: white;
      }
    }
  }
}
