.burger {
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;
  z-index: 97;
  &::after,
  span,
  &::before {
    position: absolute;
    transition: 0.6s;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 7%;
    background: #000;
    content: "";
  }
  &::after {
    top: 25%;
  }
  span {
    top: 45%;
  }
  &::before {
    top: 65%;
  }
  &.active {
    &::after {
      top: 45%;
      transition: 0.6s;
      transform: rotate(-43deg);
      left: 0;
    }
    span {
      top: 45%;
      transition: 0.6s;
      opacity: 0;
      left: 0;
    }
    &::before {
      top: 45%;
      transition: 0.6s;
      transform: rotate(43deg);
      left: 0;
    }
  }
}
