.header {
  padding: 10px 0;
  @include flex;
  &__logo,
  &__field,
  &__counter {
    margin: 10px 0;
    @include breakpoint(lg) {
      margin: 10px auto;
    }
  }
  &__logo {
    display: flex;
    align-items: center;
    img {
      width: 38px;
      height: 38px;
      margin-right: 17px;
    }
  }
  &__description {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    a {
      text-decoration: none;
    }
  }
  &__title {
    @include font($size: 24px, $weight: 800, $family: $montserrat);
    color: black;
  }
  &__text {
    @include font($size: 16px, $weight: 400, $family: $roboto);
    color: #7b7b7b;
  }
  &__field {
    width: 455px;
    min-height: 50px;
    background: $opacity;
    @include flex;
    flex-wrap: nowrap;
    border-radius: 50px;
    padding-right: 5px;
    padding-left: 15px;
    position: relative;
    z-index: 1;
    &.active {
      border-radius: 0;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
    input {
      background: none;
      border: none;
      width: 100%;
      font-size: 16px;
      @include font($size: 16px, $weight: 400, $family: $roboto);
      &:focus ~ .header__search {
        img {
          transform: rotate(-360deg);
          transition: 0.7s;
        }
      }
    }
  }
  &__list {
    background: $opacity;
    position: absolute;
    content: "";
    width: 100%;
    right: 0;
    top: 100%;
    overflow: hidden;
    display: none;
    z-index: 1;
    &.active {
      padding: 10px;
      display: block;
    }
  }
  &__search {
    background: none;
    border: none;
    img {
      width: 40px;
      height: 40px;
      transition: 0.7s;
    }
    &:hover {
      img {
        transform: rotate(-360deg);
        transition: 0.7s;
      }
    }
  }
}
