.field {
  position: relative;
  &.field__error {
    input {
      border: solid 1px red;
      &::placeholder {
        color: red;
      }
    }
  }
  input {
    padding: 5px;
    margin-bottom: 20px;
    font-size: 18px;
    border: solid 1px black;
    width: 100%;
  }
  &__error {
    &--img {
      display: none;
      position: absolute;
      top: 4px;
      right: 4px;
      content: "";
      width: 25px;
      height: 25px;
      &.active {
        display: block;
      }
    }
  }
}
