.modal {
  min-width: 30%;
  min-height: 30%;
  z-index: 99;
  background: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  padding: 20px;
  &.active {
    display: block;
  }
  &__close {
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
  }
}
.popup {
  z-index: 98;
  background: rgba(black, 0.7);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
  &.active {
    display: block;
  }
}
