.header__item {
  list-style-type: none;
  margin-bottom: 15px;
  cursor: pointer;
  @include font($size: 16px, $weight: 400, $family: $roboto);
  padding: 5px;
  &:hover {
    background-color: white;
  }
}
