.pizzas__description {
  &--box {
    width: 280px;
    height: 459px;
    margin: 30px auto;
    text-align: center;
    transition: 1s;
    img {
      width: 259px;
      height: 260px;
    }
  }
  &--subtitle {
    @include font($size: 20px, $weight: 800, $family: $montserrat);
    color: black;
    margin-top: 11px;
  }
  &--options {
    background: $opacity;
    padding: 7px;
    border-radius: 10px;
    margin-top: 22px;
  }
  &--type {
    display: flex;
    justify-content: space-between;
    button {
      width: 49%;
      padding: 7px 0;
      border-radius: 10px;
      border: none;
      transition: 0.7s;
      @include font($size: 14px, $weight: 700, $family: $roboto);
      &.active,
      &:hover {
        background: white;
        transition: 0.7s;
      }
      &:disabled {
        opacity: 0.9;
        background: $opacity;
        pointer-events: none;
        &:hover {
          background: $opacity;
        }
      }
    }
  }
  &--size {
    margin-top: 7px;
    display: flex;
    justify-content: space-between;
    button {
      border-radius: 10px;
      @include font($size: 14px, $weight: 700, $family: $roboto);
      width: 32%;
      padding: 7px 0;
      border: none;
      transition: 0.7s;
      &.active,
      &:hover {
        background: white;
        transition: 0.7s;
      }
      &:disabled {
        opacity: 0.9;
        &:hover {
          background: $opacity;
        }
      }
    }
  }
  &--order {
    margin-top: 20px;
    @include flex;
    flex-wrap: nowrap;
  }
  &--price {
    @include font($size: 22px, $weight: 700, $family: $montserrat);
  }
  &--add {
    border: solid 2px $gold;
    padding: 13px 18px;
    border-radius: 30px;
    @include flex;
    flex-wrap: nowrap;
    background: none;
    transition: 0.4s;
    svg {
      path {
        fill: $gold;
      }
    }
    &:hover {
      transition: 0.4s;
      background: $gold;
      color: white;
      svg {
        path {
          fill: white;
        }
      }
      .pizzas__description--quantity {
        color: $gold;
        background: white;
      }
    }
  }
  &--text {
    margin: 0 10px;
    @include font($size: 16px, $weight: 700, $family: $montserrat);
  }
  &--quantity {
    font-size: 13px;
    font-weight: 700;
    color: white;
    background: $gold;
    padding: 3px 6px;
    border-radius: 10px;
    display: none;
    &.active {
      display: block;
    }
  }
}
