.popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;
    width: 100%;
    height: 100%;
    background: rgba(black, 0.5);
    cursor: pointer;
    display: none;
    &.active {
        display: block;
    }
}