.admin {
  min-height: 520px;
  width: 100%;
  background-image: url(../../assets/img/admin-image.jpg);
  background-size: cover;
  background-position: center;
  padding: 20px 10px 50px;
  &__title {
    text-align: center;
    @include font($size: 30px, $weight: 800, $family: $montserrat);
  }
  &__links {
    a {
      @include font($size: 18px, $weight: 100, $family: $roboto);
      text-decoration: none;
      color: $orange;
      margin-right: 20px;
      &.active {
          border-bottom: solid 1px $orange;
      }
    }
  }
}
