.advertising {
  padding: 40px 0;
  &__content {
    @include flex;
    max-width: 1200px;
    max-height: 555px;
    img {
      width: 32%;
      height: 79%;
      margin-bottom: 19px;
      &:nth-child(1) {
        width: 66%;
        height: 50%;
      }
    }
    @include breakpoint(md) {
      justify-content: space-around;
      img {
        width: 246px;
        height: 176px;
        &:nth-child(1) {
          width: 466px;
          height: 176px;
        }
      }
    }
    @include breakpoint(sm) {
      max-height: 725px;
      img:nth-child(1) {
        display: none;
      }
    }
  }
}
