.auth {
  padding: 50px 0;
  &__container {
    max-width: 500px;
    min-height: 500px;
    margin: 0 auto;
    box-shadow: 2px 2px 7px 7px rgba(black, 0.3);
    padding: 15px;
  }
  &__title {
    text-align: center;
    @include font($size: 28px, $weight: 800, $family: $montserrat);
  }
  &__network {
    @include flex;
    justify-content: space-around;
    margin-top: 10px;
    button {
      border: none;
      background: none;
      border: solid 1px $orange;
      padding: 10px 30px;
      border-radius: 10px;
    }
    img {
      width: 50px;
      height: 50px;
    }
  }
  hr {
    margin: 10px 0;
    border: solid 1px $orange;
  }
  &__links {
    @include flex;
    flex-wrap: nowrap;
    position: relative;
    text-align: center;
    a {
      border: solid 1px $orange;
      width: 50%;
      padding: 6px 0;
      @include font($size: 18px, $weight: 400, $family: $roboto);
      text-decoration: none;
      height: 40px;
      z-index: 1;
      &:hover,
      &.active {
        color: white;
        transition: 0.5s;
        background: $orange;
      }
    }
  }
  &__routers {
    margin-top: 15px;
  }
}
