.basket {
  padding: 131px 0;
  &__container {
    max-width: 900px;
    margin: 0 auto;
  }
  &__top {
    margin-bottom: 61px;
    @include flex;
    flex-wrap: nowrap;
  }
  &__title {
    display: flex;
    align-items: center;
    @include font($size: 32px, $weight: 700, $family: $montserrat);
    img {
      margin-right: 17px;
      width: 29px;
      height: 29px;
    }
  }
  &__clear {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    @include font($size: 16px, $weight: 400, $family: $montserrat);
    opacity: 0.5;
    &:hover {
      opacity: 1;
      font-weight: 800;
    }
    img {
      margin-right: 11px;
      width: 20px;
      height: 20px;
    }
  }
  &__wrapper {
    margin-bottom: 40px;
    height: 360px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 5px;
      &-thumb {
        background: $orange;
        border-radius: 50px;
      }
    }
    @include breakpoint(md) {
      height: 500px;
      border: solid 2px rgba($orange, 0.5);
      padding: 50px 15px;
    }
  }
  &__score {
    @include flex;
    flex-wrap: nowrap;
    margin-bottom: 40px;
    @include breakpoint(sm) {
      flex-direction: column;
    }
  }
  &__counter {
    @include font($size: 22px, $weight: 0, $family: $roboto);
    span {
      font-weight: 700;
    }
    @include breakpoint(sm) {
      margin: 0 0 20px;
    }
  }
  &__price {
    @include font($size: 22px, $weight: 0, $family: $roboto);
    span {
      font-weight: 700;
      color: $gold;
    }
  }
  &__btns {
    @include flex;
    flex-wrap: nowrap;
    @include breakpoint(sm) {
      flex-direction: column;
    }
    button,
    a {
      padding: 18px;
      border: solid 2px $gold;
      @include font($size: 16px, $weight: 400, $family: $roboto);
      border-radius: 50px;
      @include breakpoint(sm) {
        margin-bottom: 20px;
      }
    }
  }
  &__return {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: $gold;
    transition: 0.5s;
    &:hover {
      transition: 0.5s;
      background: $gold;
      color: white;
      path {
        stroke: white;
      }
    }
    svg {
      margin-right: 10px;
    }
  }
  &__pay {
    transition: 0.5s;
    background: $gold;
    color: white;
    &:hover {
      background: white;
      color: $gold;
      transition: 0.5s;
    }
  }
  &__order {
    width: 320px;
    height: 320px;
    padding: 40px 10px;
    &--title {
      text-align: center;
      @include font($size: 32px, $weight: 900, $family: $montserrat);
      color: green;
      margin-bottom: 30px;
    }
    p {
      @include font($size: 18px, $weight: 0, $family: $roboto);
      margin-bottom: 10px;
      span {
        font-weight: 900;
      }
    }
  }
}
