.basket__empty {
  text-align: center;
  display: flex;
  padding: 60px;
  min-height: 500px;
  @include breakpoint(sm) {
    padding: 40px 0;
  }
  &--title {
    display: flex;
    align-items: center;
    margin: 0 auto 10px;
    justify-content: center;
    @include breakpoint(sm) {
      flex-direction: column;
    }
    h3 {
      @include font($size: 32px, $weight: 700, $family: $montserrat);
    }
    img {
      margin-left: 10px;
    }
  }
  &--warning {
    max-width: 547px;
    margin: 0 auto 47px;
    @include font($size: 18px, $weight: 400, $family: $roboto);
    opacity: 0.6;
    @include breakpoint(sm) {
    }
  }
  &--image {
    width: 300px;
    height: 254px;
    margin: 0 auto 74px;
    display: block;
  }
  &--btn {
    padding: 16px 0;
    background: black;
    color: white;
    text-decoration: none;
    border-radius: 40px;
    @include font($size: 16px, $weight: 700, $family: $montserrat);
    display: block;
    width: 250px;
    margin: 0 auto;
    color: white;
    &:hover {
      background: rgb(31, 31, 31);
    }
  }
}
