.navbar {
  position: fixed;
  width: 300px;
  height: 100%;
  top: 0;
  right: -350px;
  background: $orange;
  z-index: 95;
  transition: 0.6s;
  &.active {
    transition: 0.6s;
    right: 0;
  }
  &__list {
    padding: 0;
    @include flex;
    flex-direction: column;
    padding-top: 70px;
  }
  &__item {
    list-style-type: none;
    margin-bottom: 20px;
  }
  a {
    text-decoration: none;
    @include font($size: 18px, $weight: 800, $family: $montserrat);
    color: white;
    &.active {
      border-bottom: 1px solid white;
    }
  }
  button {
    border: none;
    background: none;
    @include font($size: 18px, $weight: 800, $family: $montserrat);
    color: white;
  }
}
