.pizzas {
  padding: 52px 0 102px;
  &__nav {
    @include flex;
    flex-wrap: nowrap;
  }
  &__description {
    margin: 34px 0;
    &--title {
      @include font($size: 32px, $weight: 700, $family: $montserrat);
    }
    &--wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}
