.pizzas__nav {
  position: relative;
  &--category {
    display: flex;
    align-items: center;
    @include breakpoint(lg) {
      width: 300px;
      min-height: 500px;
      position: absolute;
      content: "";
      top: 0;
      left: -350px;
      background: rgba($orange, 0.8);
      flex-direction: column;
      padding: 70px 10px 30px;
      transition: 0.6s;
      z-index: 10;
      &.active {
        left: -15px;
      }
    }
  }
  &--item {
    list-style-type: none;
    margin-right: 10px;
    @include breakpoint(lg) {
      margin-right: 0;
      margin-bottom: 50px;
    }
  }
  &--btn {
    padding: 13px 20px;
    border-radius: 30px;
    @include font($size: 16px, $weight: 700, $family: $montserrat);
    color: $black;
    background: $opacity;
    border: none;
    transition: 0.6s;
    &:hover,
    &.active {
      transition: 0.6s;
      background: $black;
      color: white;
    }
  }
  &--burger {
    width: 50px;
    height: 50px;
    display: none;
    position: relative;
    cursor: pointer;
    z-index: 15;
    &::after,
    span,
    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 4px;
      height: 4px;
      background: black;
      transition: 0.6s;
      opacity: 1;
    }
    &::after {
      top: 13px;
      width: 30%;
    }
    span {
      top: 23px;
      width: 60%;
    }
    &::before {
      top: 33px;
      width: 85%;
    }
    &:hover {
      &::after,
      span,
      &::before {
        width: 85%;
      }
    }
    &.active {
      &::after {
        transition: 0.6s;
        top: 23px;
        width: 85%;
        transform: rotate(43deg);
      }
      span {
        transition: 0.6s;
        opacity: 0;
      }
      &::before {
        transition: 0.6s;
        top: 23px;
        width: 85%;
        transform: rotate(-43deg);
      }
    }
    @include breakpoint(lg) {
      display: block;
    }
  }
}
