.signup {
  &__title {
    @include font($size: 20px, $weight: 800, $family: $montserrat);
    text-align: center;
  }
  &__form {
    @include column;
    &--label {
      @include font($size: 18px, $weight: 400, $family: $roboto);
      margin-bottom: 5px;
    }
    &--btn {
      @include font($size: 18px, $weight: 800, $family: $montserrat);
      color: $orange;
      border: solid 1px $orange;
      background: white;
      padding: 10px 0;
      &:hover {
        background: $orange;
        color: white;
      }
      &:disabled {
        background: $orangeActive;
      }
    }
  }
}
