.signin {
  &__title {
    @include font($size: 20px, $weight: 800, $family: $montserrat);
    text-align: center;
  }
  &__form {
    @include column;
    margin-bottom: 20px;
    &--label {
      @include font($size: 18px, $weight: 400, $family: $roboto);
      margin-bottom: 5px;
    }
    &--error {
      @include font($size: 18px, $weight: 800, $family: $montserrat);
      color: red;
    }
    &--btn {
        @include font($size: 18px, $weight: 800, $family: $montserrat);
        width: 200px;
        margin: 0 auto;
        height: 40px;
        color: $orange;
        border: solid 1px $orange;
        background: white;
        &:disabled {
          background: $orangeActive;
        }
        &:hover {
            background: $orange;
            color: white;
        }
    }
  }
}
