.pizzas__nav {
  &--sort {
    display: flex;
    align-items: center;
  }
  &--toggle {
    transform: rotate(180deg);
    border: none;
    background: none;
    margin-right: 7px;
    margin-top: 5px;
    transition: 0.4s;
    &.active {
      transform: rotate(0);
      margin-top: 0px;
      transition: 0.4s;
    }
  }
  &--result {
    cursor: pointer;
    &:hover {
      font-weight: 900;
    }
  }
  &--description {
    @include font($size: 14px, $weight: 700, $family: $montserrat);
    color: $black;
    margin-right: 8px;
  }
  &--choice {
    @include font($size: 14px, $weight: 400, $family: $montserrat);
    color: $gold;
    border-bottom: $gold dotted 1px;
    position: relative;
  }
  &--modal {
    position: absolute;
    content: "";
    top: 150%;
    right: 0;
    width: 132px;
    height: 125px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: none;
    overflow: hidden;
    &.active {
      display: block;
    }
  }
  &--type {
    list-style-type: none;
    color: $black;
    cursor: pointer;
    padding: 12px;
    @include font($size: 14px, $weight: 700, $family: $montserrat);
    &.active,
    &:hover {
      color: $gold;
      background: rgba($gold, 0.1);
    }
  }
}
