* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 14px;
    line-height: 1.5;
}
select, input, button {
    outline: none;
}
select, button {
    cursor: pointer;
}
.container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 15px;
}
ul, ol {
    padding: 0;
}