@mixin font($size, $weight, $family) {
  font-size: $size;
  font-weight: $weight;
  font-family: $family;
  color: black;
}
@mixin flex() {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@mixin column() {
  display: flex;
  flex-direction: column;
  justify-content: center;
}